:root{
    --dark-theme: #222831; 
    --grey: #393E46;
    --brand-color: #ff004f;
    --white:#EEEEEE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Jost", sans-serif;
    color: #fff;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}

body{
    /* background-color: #000; */
    font-family: "Jost", sans-serif;
    /* background: url('/image/lake_4541454_1920.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
img{
    max-width: 100%;
}
.brand-color{
    color: var(--brand-color);
}
.btn-primary{
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}
.btn-primary:hover,
.btn-primary:active{
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}
.btn-outline-primary{
    border-color: var(--brand-color);
    color: var(--brand-color);
}
.btn-outline-primary:hover,
.btn-outline-primary:active{
    border-color: var(--brand-color) !important;
    background-color: var(--brand-color) !important;
}
.p-60{
    padding: 60px 0;
}
.p-80{
    padding: 80px 0;
}
.heading{
    font-size: 50px;
}
.navbar{
    padding: 10px 0;
    
}
.navbar-brand{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
.navbar-brand::first-letter{
    font-size: 40px;
    color: var(--brand-color);
}
.hero_section{
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}
.hero_section h1{
    font-size: 50px;
    font-weight: 500;
}

/* =================***================= */

.about_section .description{
    line-height: 1.7;
    font-size: 1.125rem;
    margin-bottom: 30px;
}
.about_section .my_img{
    /* height: 550px; */
    /* object-fit: cover; */
    width: 100%;
    border-radius: 20px;
}
.about_section .nav-link{
    padding: 0;
    margin-right: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: transparent;
    position: relative;
}
.nav-pills .nav-link::after{
    content: '';
    background-color: red;
    height: 2px;
    position: absolute;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: all .5s;
}
.nav-pills .nav-link.active::after{
    width: 50%;
    /* transition: all 2s; */
}
.about_section ul{
    margin-top: 20px;
}
.about_section #pills-skills ul{
    width: 400px;
    column-count: 2;
}
.about_section ul li{
    margin-bottom: 20px;
}
.about_section .tab-content ul li::first-letter{
    /* color: var(--brand-color); */
    font-size: 130%;
}

/* =================***================= */

.projects_section .card{
    padding: 40px 20px;
    transition: .5s all;
    border-radius: 10px;
}
.projects_section .card:hover{
    background-color: var(--brand-color) !important;
    transform: translateY(-8px);
}
.projects_section .card a{
    color: #fff;
    text-align: end;
}
.projects_section .card .icon{
    font-size: 60px;
    margin-bottom: 20px;
}
.projects_section .card .title{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 28px;
}
.projects_section .card .description{
    font-size: 18px;
}
.projects_section p.description {
    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 2;
    height: 55px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* =================***================= */

.contact_section .left_side .heading{
    margin-bottom: 20px;
}
.contact_section .left_side .fas{
    font-size: 26px;
    color: var(--brand-color);
    width: 26px;
}
.contact_section .left_side .info p{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 25px;
}
.contact_section .left_side .info p:hover{
    padding-left: 10px;
    transition: ease-in-out .3s;
}
.contact_section .left_side .info p a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.contact_section .left_side .info p a:hover{
    text-decoration: underline;
    transition: all 1s;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color: #ababab;
    display: inline-block;
}
.social-icons a i{
    transition: .5s all;
}
.social-icons a:hover i{
    color: var(--brand-color);
    transform: translateY(-5px);
}
form input,
form textarea{
    color: #fff !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #212529 inset !important;
    -webkit-text-fill-color: #fff !important;
}